<div id="<%= dom_id apartment %>">
  <div id="message-popup" class="hidden message-popup p-6 bg-white shadow-md rounded-md">
    <h1 class="text-4xl font-semibold mb-4">
      Please enter a message to 
      <% apartment.residents.each_with_index do |resident, index| %>
        <% if apartment.residents.count == 1 || index < apartment.residents.count - 1 %>
          <%= resident.profile.name %>
        <% else %>
          and <%= resident.profile.name %>
        <% end %>
      <% end %>

    </h1>
    <div class="w-full">
      <% req = ApartmentRequest.new() %>
      <%= form_with(model: req, class: "space-y-4 w-full") do |form| %>
        <%= form.label :message, class: "hidden" %>
        <%= form.text_area :message, class: "w-full h-40 shadow rounded-md border border-gray-300 outline-none px-3 py-2 mt-1 resize-none" %>
        <%= form.hidden_field :apartment_id, value: apartment.id %>
        <div class="flex justify-center space-x-4">
          <%= form.submit "Send Message", class: "py-3 px-5 bg-blue-600 text-white font-medium rounded-lg cursor-pointer" %>
        </div>
      <% end %>
    </div>

    <div class="flex justify-center space-x-4 w-full">
      <button class="py-3 px-5 bg-gray-100 text-gray-800 font-medium rounded-lg cursor-pointer" id="back-button">Back</button>
    </div>
  </div>
  <h2>
  <%= link_to apartment.city.name, city_path(apartment.city) %>
  </h2>
  <h3>
    <%= apartment.neighborhood.name %>
  </h3>
  <h1>
    <%= apartment.street_address %>
  </h1>

  <p class="my-5">
    <strong class="block font-medium mb-1 inline-block">Bedrooms:</strong> <%= apartment.bedrooms %> 
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1 inline-block">Rent:</strong>
    <%= apartment.rent %>
  </p>

  <p class="my-5">
    <%= apartment.notes %>
  </p>

  <div class="bg-gray-300 p-4">
    
    <h3>
      <%= apartment.residents.count %> Residents
    </h3>

    <ul>
      <% apartment.residents.each do |resident| %>
        <li> 
          <%= roommate_display(resident.profile) %>
        </li>
      <% end %>
    </ul>


    <% if apartment.current_resident?(current_user) %>
      <%= button_to("Move Out", vacate_apartment_path(apartment), method: :patch, class: "button-small bg-red-600") %>
    <% elsif apartment.unoccupied? %>
      <%= button_to("Move In", occupy_apartment_path(apartment), method: :patch, class: "button-small bg-green-600") %>
    <% elsif apartment.residents.count >= apartment.bedrooms %>
      <h3 class="text-red-500">
        This Apartment is Currently Full
      </h3>
    <% else %>
      <h3>
        <%= apartment.apartment_requests.pending.count %> Applicants
      </h3>

      <ul>
        <% apartment.applicants.each do |applicant| %>
          <% if apartment.request_pending?(applicant) %>
            <li> 
              <%= roommate_display(applicant.profile) %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <%if apartment.requested?(current_user)%>
        <%= button_to("Unapply", apartment_apartment_request_path(apartment, apartment.request(current_user)), method: :delete, class: "button-small bg-red-600") %>
      <%elsif (apartment.residents.count < apartment.bedrooms)%>
        <button class= "button-small bg-green-600", id="apply-button">Apply</button>
      <%else%>
      <%end%>
    <% end %>
  </div>

  <% if action_name != "show" %>
    <%= link_to "Show this apartment", apartment, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this apartment", edit_apartment_path(apartment), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
